<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Search</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        #search-info {
            background-color: #3498db;
            color: white;
            padding: 10px;
            text-align: center;
        }

        #search-container {
            margin: 20px auto;
            text-align: center;
        }

        label {
            margin-right: 10px;
        }

        button {
            padding: 8px;
            background-color: #3498db;
            color: white;
            border: none;
            cursor: pointer;
        }

        #weatherResult {
            margin: 20px auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="search-info">
    <p>Wpisz miasto:</p>
</div>

<div id="search-container">
    <label for="cityInput">Wprowadź nazwę miasta:</label>
    <input type="text" id="cityInput" placeholder="Nazwa miasta" />
    <button onclick="searchWeather()">Szukaj</button>
</div>

<% if (data.name) {%>>

    <div id="weatherResult">
        <h2><%= data.name %></h2>
        <p>Temperatura: <%= data.main.temp %> &#8451;</p>
        <p>Zachmurzenie: <%= data.weather[0].description %></p>
        <p>Opady: <%= data.rain ? data.rain["1h"] : 0%> mm</p>
        <p>Prędkość wiatru: <%= data.wind.speed %> m/s</p>
        <p>Warunki: <%= data.weather[0].main %></p>
    </div>
<% } %>
<script>
    async function searchWeather() {
        const cityInput = document.getElementById('cityInput').value;

        window.location.replace("http://localhost:3000/info/"+cityInput);
    }
</script>
</body>
</html>
